# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Environment variables file
.env

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# IDE settings
.vscode/
.idea/

# Build / distribution
build/
dist/
*.egg-info/
.eggs/