numpy==1.26.4
opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
paddlepaddle==3.2.0
paddleocr==2.7.3
fastapi
uvicorn
pdf2image
pandas
openpyxl
pillow
python-dotenv
pytesseract
langchain-core
langchain-groq
pdfplumber
unstructured
